<html>
    <head>
        <title>First Showcase</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Count of rows: <% countOfRows %></h1>
        <div class="container">
            <h1>Domain tábla adatai:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Raw</th>
                        <th>Protocol</th>
                        <th>RefPrefId</th>
                        <th>LpId</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 0; index < domainData.length && index < 50; index++) { %>	
                        <tr>
                            <td><% domainData[index].id %></td>
                            <td><% domainData[index].raw %></td>
                            <td><% domainData[index].protocol %></td>
                            <td><% domainData[index].refPrefId %></td>
                            <td><% domainData[index].lpId %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <h1>ReferredPageMain tábla adatai:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>RefPref</th>
                        <th>DR</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 0; index < referredData.length && index < 50; index++) { %>	
                        <tr>
                            <td><% referredData[index].id %></td>
                            <td><% referredData[index].refPref %></td>
                            <td><% referredData[index].dr %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <h1>LinkedPage tábla adatai:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Raw</th>
                        <th>Protocol</th>
                        <th>RefPrefId</th>
                        <th>LpId</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 0; index < linkData.length && index < 50; index++) { %>	
                        <tr>
                            <td><% linkData[index].id %></td>
                            <td><% linkData[index].link %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

            <h1>Szumma adat:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Raw</th>
                        <th>Protocol</th>
                        <th>RefPrefId</th>
                        <th>LpId</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 0; index < linkData.length && index < 50; index++) { %>	
                        <tr>
                            <td><% linkData[index].id %></td>
                            <td><% linkData[index].link %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
